<div id="content-holder">
    <div id="logoAndSearchBar">
        <img ngSrc="/PulseGearLogo.png" alt="PulseGear Logo" width="178" height="56">
        <input id="searchBar" type="text" placeholder="Discover Gear to Elevate Your Play!">
    </div>
    <div id="profile">
        <img ngSrc="/profile-icon.svg" alt="Profile Icon" width="40" height="40">
        <div>
            <a id="login" href="/">Login or sign up</a>
            <a id="orders" href="/">My orders</a>
        </div>      
        <a href="/">
            <img ngSrc="/cart-icon.svg" alt="Cart Icon" width="40" height="40"> 
        </a> 
    </div>
</div>